body{
   background-color: rgb(169, 236, 241);
    
}
p{
    color: antiquewhite;
}
.all{
   text-align: center;
}
.form{
   
}
.button:hover{
     background-color: rgb(85, 186, 186);
     color: rgb(52, 3, 3);
}
.left{
    width:70%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid;
}
form{
    background-color: aquamarine;
    width: 30%;
    margin:40px auto;
    padding:20px;
    border:1px solid;
   
   
}


